{erl_opts, [debug_info]}.

{deps, [
    {my_awesome_dep, {git_subdir,"https://github.com/Kuroneer/rebar314_dialyzer_test_dep.git", {branch,"rename_subdir"}, "bindings/my_awesome_dep"}}
]}.

{relx, [
    {release,
        { broadcasterl, "dev_0.0.1" }, [
            service_discovery,
            crypto,
            sasl,
            runtime_tools
        ]
    },

    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

